@import url('https://fonts.googleapis.com/css2? family= Alcalami & family= M+PLUS+Rounded+1c & display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family:'Alkalami', 'M PLUS Rounded 1c', Arial, Helvetica, sans-serif;
    font-size: 16px;

}
body{
    letter-spacing: 5px;
    line-height: 40px;
    font-family:'Alkalami', 'M PLUS Rounded 1c', Arial, Helvetica, sans-serif;
    background-color: #FDFAF8;
}
/*CABEÇALHO INICIO*/

.icone-pag{
    color: #D31C20;
    margin: 0 5px;    
}

.nome-pag {
    letter-spacing: 3px;
    font-family:'Alkalami', 'M PLUS Rounded 1c', Arial, Helvetica, sans-serif;
    color: #D31C20;
    font-weight: 50px;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #D31C20;
}

.container{
    width: 100%;
    height: 70vh;
}

.cabecalho-menu{
    letter-spacing: 3px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.banner{
    background-color: #EFEFEF;
    background-image: url(../img/back.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}


.cabecalho{
    width: 100%;
    height: 10vh;
    color: #D31C20;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu ul {
    display: flex;
}

.item-menu{
    font-size: 1rem;
    margin: 0 5px;
    font-weight: 300;
    color: #D31C20;
}
.item-menu:hover{
    cursor: pointer;
    color: #605D5d;
}
  /*CABEÇALHO FINAL*/  

  
.main-principal{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items:baseline;
    height: 30vh;
}

.titulo-principal{
    letter-spacing: 4px;
    color: #D31C20;;
    font-size: 3rem;
    padding: 0 60px;
    width: 100%;
    height: 900px;
    margin: 50px 0;
    justify-content:baseline;
    text-align:left;
}
.subtitulo-main{
    letter-spacing: 3px;
    line-height: 30px;
    color:#000;
    font-size: 15px;
    padding: 0 60px;
    width: 50%;
    height: 200px;
    margin: 5px 0;
    justify-content:baseline;
    text-align:left;
}


/*GALERY INICIO*/
.galery{
    margin:40px 0;
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content:center;
    gap: 30px;
    background-color:  #FDFAF8;
}

.galery-itens{
    color: #D31C20;
    width: 30%;
    padding:  10px;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items:baseline;
    justify-content: center;
    text-align:center;
    box-shadow: 2px 1px 20px #605D5d;
    border-radius: 2%;
    margin: 15px 0;
    
}

.star{
    margin: 5px 0;
    color: #181C38;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ultima-star{
    color: #181c3891;
}

.galery-image{
    width:95%;
    height: 50%;
    margin: 10px;
    border-radius: 2%;
}

.galery-titlle{
    letter-spacing: 2px;
    margin:  5px 0;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    text-align: center;
}

.descrição{
    letter-spacing: 2px;
    line-height: 50px;
    color: #1F1919;
    margin: 5px 0;
    text-align: left;
}

.rotas{
    letter-spacing: 2px;
    color: #1F1919;
    margin: 5px 0;
    text-align: left;
}
.rotas:hover{
    cursor: pointer;
    color: #605D5d;
}
.galery-text{
    letter-spacing: 2px;
    font-weight: 600;
    color: #1F1919;
    margin: 5px 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align:left;
    line-height: 25px;
}
 .link{
    letter-spacing: 2px;
    color: #D31C20;
    font-weight: 600;
    margin: 5px 0;
    text-align: left;
 }

.link:hover{
    cursor: pointer;
    color: #605D5d;
}

.time{
    color: #000;
    letter-spacing: 2px;
    margin: 5px 0;
    text-align: left;
}

button {
    margin: 10px 0;
    padding: 5px 10px;
    background-color: #D31C20;
    border: 1px solid #D31C20;
    font-weight: 900;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
    color: #060814;
}
/*GALERY FINAL*/

/*RODAPE INICIO*/
.rodape{
    width: 100%;
    height: 10vh;
    background-color: #EFEFEF;
}

.redes{
    color: #fff;
    display: flex;
    margin: 20 0px;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
}
/*RODAPE FINAL*/



/* media queries */

@media (max-width: 940px) {  

  .cabecalho {    
    background-color: #EFEFEF;
    position: fixed;
    width: 100%;
    height: 10vh;
    padding: 0 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .container{
    width: 100%;
    height: 70vh;
    }
 
  .cabecalho-menu {
        position: relative;
  }
  
  .titulo-principal {
    color:#D31C20;
    font-size: 2rem;
    padding:  2px;
    width: 50%;
    height: 5px;
    margin: 90px auto;
    justify-content:baseline;
    text-align:left;
  }
   
  .subtitulo-main{
    color:#000;
    font-size: 12px;
    padding: 12px;
    width: 70%;
    height: 5px;
    margin: 9 2px;
    
    justify-content: baseline;
    text-align: left;
  }

    .galery {
      flex-direction: column;
      margin:50px auto;
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items:center;
     justify-content:center;
    }

    .galery-itens{
        width: 80%;
        padding: 0 10px;
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items:center;
        justify-content: center;
        text-align:center;
        margin: 15px 0;
    }

    .galery-image{
        width:90%;
        height: 50%;
        padding: 10px ;
        margin: 5px;
        border-radius: 15px;
    }
    .rodape{
        background-color: #EFEFEF;
    }
 }

@media (max-width: 450px) {
    html{
    font-size: 12px;
  }
}
